<div class="container">
    <div class="vs-buttons">
        <div class="vs-import">
            <input hidden  type='file' #dmsbtn accept=".xlsm" (change)="uploadFile($event)">
            <button mat-raised-button color="primary" (click)="dmsbtn.click()">Import sales invoices</button>
        </div>
        <mat-form-field>
            <mat-select [disabled]="!salesmanList.length" (selectionChange)="selectVendor($event)"  placeholder="Choisir salesman" multiple>
                <mat-option *ngFor="let vendor of salesmanList" [value]="vendor.salesmanId">
                    {{vendor.salesmanName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="select-customer">
            <mat-select [disabled]="!salesmanList.length" (selectionChange)="selectCustomer($event)"  placeholder="Choisir client" multiple>
                <mat-option *ngFor="let customer of customers" [value]="customer">
                    {{customer.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
       
        <div class="vs-import">
            <!--<div class="single-file">
                <button class="group-sales" mat-raised-button color="primary" (click)="download()" [disabled]="!sales.length">Télécharger par client</button><p *ngIf="sales.length">chaque order dans un fichier</p>
            </div>-->
            <button class="group-sales" mat-raised-button color="primary" (click)="downloadSingle()" [disabled]="!sales.length">Télécharger par client </button>
            <button class="group-sales" mat-raised-button color="primary" (click)="downloadGroupedSales()" [disabled]="!sales.length">Download Grouped Sales</button>
            <button class="group-sales" mat-raised-button color="primary" (click)="downloadFiltredSales()" [disabled]="!sales.length">Download Filtred Sales</button>
        
        </div>
    </div>
</div>
