.container {
    height: 100%;
    align-items: center;
    display: flex;
}
.mat-mdc-form-field {
	width: 300px;
}
.vs-buttons {
	display: flex;
	flex-direction: row;
	align-items: flex-start; //center
}

.vs-import {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	align-self: baseline;
	button {
		margin: 2%;
	}
}
.group-sales {
	width: 250px;
}

.select-customer {
	margin-left: 10px;
	margin-right: 10px;
}
.single-file {
	display: flex;
	p {
		width: 300px;
		font-size: 13px;
		align-self: center;
		color: red;
	}
}