<div class="main-btns">
    <input hidden  type='file' #btn accept=".xlsx" (change)="uploadConfigFile($event)">
    <button mat-raised-button color="primary" (click)="btn.click()">Import Config File</button>
    
    <button mat-raised-button [routerLink]="['sales-salemsan']" color="primary">Vente par vendeur</button>
    <button mat-raised-button [routerLink]="['sales-customer']" color="primary">Vente par client</button>
    <button mat-raised-button [routerLink]="['stock']" color="primary">Vérification de stock</button>

</div>

<div class="version">v 0.1.0</div>
